@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  @apply bg-gray-800 text-white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  @apply bg-gray-700 text-white rounded px-4 py-2 cursor-pointer;
}

button:hover {
  @apply bg-gray-600;
}

/* Change Swiper navigation arrows color */
.swiper-button-prev, .swiper-button-next {
  color: white !important; /* Default arrow color */
  transition: color 0.2s ease-in-out !important;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: #3b82f6 !important; /* Blue color on hover */
}